@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

body {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  color: #707070;
}

header {
  background-color: #97dad0;
  color: #fff;
  color: #fff;
}

nav {
  background-color: #f5fafa;
  padding: 0.5em 1em;
  padding: 0.5em 1em;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

li a {
  color: #707070;
  text-decoration: none;
  font-size: 1.75em;
  transition: 1s ease-in-out;
}

li a:hover {
  text-decoration: underline;
}

.header-logo {
  height: 36px;
  fill: #707070;
}

header h1 {
  font-weight: 400;
  font-size: 4em;
  display: flex;
  margin: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  width: 100%;
  text-align: center;
  display: block;
}

.big-logo {
  height: 50px;
  margin-left: 0.75em;
  margin-left: 0.75em;
}

h2 {
  font-weight: 400;
  margin: 0;
  font-size: 2.5em;
  display: block;
  width: 100%;
  padding: 0.5em;
  padding: 0.5em;
}

.splash {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
  grid-gap: 20px; /* Space between grid items */
  max-width: 1600px;
  margin: auto; /* Centering the grid */
}

.byline {
  padding: 2.5em;
  margin: 2.5em;
  border: 2px solid #97dad0;
  border-radius: 1em;
  text-align: left;
  grid-column: 1 / -1; /* Ensure full width on smaller screens */
}


.splash img {
  width: 100%; /* Adjusted for better responsiveness */
  max-width: 100%; /* Ensures image does not exceed its container */
  height: auto;
  margin: 2.5em;
  border-radius: 1em;
  grid-column: 1 / -1; /* Ensure full width on smaller screens */
}

h3 {
  font-size: 2em;
}

.about {
  background-color: #97dad0;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5vw;
}

.center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.come {
  max-width: 900px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.come li {
  margin: 0.5em;
}

.divider {
  max-width: 100%;
  overflow: hidden;
}

.events {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  outline: 4px solid black;
  margin: 1%;
  padding: 0 0 30px 0;
  background-color: antiquewhite;
  box-shadow: 10px 10px 10px #000;
}

#events-placeholder-text {
  font-size: 1.5em;
}

.calendar-events-container {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.react-calendar {
  height: min-content;
  margin: 2em;
}

.event-tile {
  background-color: red !important;
  color: white !important;
}

.event-tile:hover {
  background-color: #ff5d5ddc !important;
}

/* disabling weekend tiles from being red */
.react-calendar__month-view__days__day--weekend:not(.react-calendar__month-view__days__day--neighboringMonth) {
  color: black;
}

.react-calendar__tile--active {
  background-color: blue !important;
  color: white !important;
}

.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.multiple-events {
  overflow-y: scroll;
  height: 600px;
}

.event {
  max-width: 800px;
  width: 60%;
  margin: 1em;
  display: flex;
  padding: 1em;
}

.event-img {
  height: 300px;
  width: auto;
  margin-right: 4em;
}

.event-info {
  border: 6px solid #f5b742;
  box-shadow: 1px 5px 5px #999;
  padding: 1em;
}

.event-info p {
  text-align: left;
}

.event h5 {
  font-size: 2.5em;
  font-weight: 400;
  margin: 0.5em;
}

table {
  row-gap: 0.5em;
  width: 100%;
}

th,
td {
  text-align: left;
  padding-right: 0.5em;
  padding-right: 0.5em;
}

th {
  width: 33%;
}

.admins,
.contributors {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.contributors {
  margin-bottom: 25px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 800px;
  justify-content: space-evenly;
}

.avatar {
  border: 1px solid #707070;
  background-color: #f5b742;
}

.admin-avatar {
  height: 140px;
  width: 140px;
}

.members-avatar, .contributors-avatar {
  width: 1000px;
}

.admins h4 {
  margin: 5px 0 5px 0;
}

.admins h5 {
  margin-top: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #97dad0;
  padding: 1em 1em 2em 1em;
}

footer nav {
  background-color: transparent;
}

footer a,
footer p {
  color: #fff;
}

footer p {
  margin: 0;
}

footer .image-wrapper {
  display: inline-block;
  width: 90px;
  margin: 1rem auto 0;
}

footer img {
  max-width: 100%;
}

.contributors-link {
  text-decoration: none;
  color: #707070;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .splash {
    grid-template-columns: 1fr 1fr; /* 2 columns for wider screens */
  }

  .byline, .splash img {
    grid-column: auto; /* Resets to default grid behavior */
  }
}